global:
  scrape_interval: 15s
  evaluation_interval: 15s
rule_files:
- prometheus.rules.yml
scrape_configs:{{range $index, $element := .}}
- job_name: {{.JobName}}
  static_configs:
  - targets:
    - {{.Address}}:{{.Port}}
  basic_auth:
    username: {{.UserName}}
    password: {{.Password}}{{end}}